xsd/Auto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Auto">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="auto">
          <xs:complexType>
            <xs:sequence minOccurs="0">
             <xs:element minOccurs="0" name="id_auto" type="xs:int" />
              <xs:element name="Model" type="xs:string" />
              <xs:element name="Data_vipuska" type="xs:string" />
              <xs:element name="Color" type="xs:string" />
              <xs:element name="Probeg" type="xs:int" />
              <xs:element name="Price" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>