xsd/Dostup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Dostup">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="dostup_auto">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nomer" type="xs:unsignedByte" />
                            <xs:element name="Auto" type="xs:unsignedByte" />
                            <xs:element name="Free" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>